*{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Arial, sans-serif;
}
.container{
    height: 671px;
    width: 98.75vw;
    border: 1px solid;
    background-image: conic-gradient( white 0deg, rgba(255, 192, 203, 0.719) 70deg,rgba(235, 67, 235, 0.747)100deg, rgba(0, 255, 255, 0.822)240deg, rgba(153, 205, 50, 0.726) 270deg, rgba(255, 255, 0, 0.336) 280deg, rgba(255, 255, 255, 0.829) 300deg );
}
.box{
   display: inline-block;
    position: relative;
    height: 400px;
    width: 350px;
    border: 1px solid black;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px 2px  #626262;
    border-radius: 10px;
    box-shadow: 10px;
    margin: auto;
    margin-top: 70px;
    left: 450px;
}

.sec1{
 height: 38%;
 width: 100%;
  
}
.profile{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid;
    background-image: url(//images.pexels.com/photos/2191058/pexels-photo-2191058.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 40px 125px;
}
.sec2{
    height: 50%;
}
.h1{
    font-size: 25px;
    font-style: oblique;
    text-align: center;
}
.para{
    text-align: center;
}
.followinglist{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
   
}
.sec3h1{
    font-size: 20px;
}
.p1{
    text-align: center;
}
.sec4h1{
    font-size: 20px;
}

.p2{
    text-align: center;
}
.sec5h1{
    font-size: 20px;
}
.p3{
    text-align: center;
}
.box2{
  background-image: linear-gradient( to right,deeppink, rgba(128, 0, 128, 0.781) , cyan);
  border-radius: 20px;
  height: 25px;
  width: 90px;
  padding: 3px 4px;
 

}
.bxh2{
  font-size: 17px;
  text-align: center;
  color: white;
  
}
.box3{
    background-image: linear-gradient( to right,deeppink, rgba(128, 0, 128, 0.781) , cyan);
    border-radius: 20px;
    height: 25px;
    width: 90px;
    padding:3px 5px;
  
  }
  .bxh3{
    font-size: 15px;
    text-align: center;
    color: white;
  }
  .b0xes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   margin-top: 20px;
   padding: 10px 10px;
  }

             /* sec part start here */
  

.box6{
  display: inline-block;
  position: absolute;
  height: 400px;
  width:250px;
  text-align: center;
  margin-top: 70px;
 left: 890px;
 margin-top: 190px;
}

.bxh6{

font-weight: bold;
}
.box7{
    background-image: linear-gradient( to right,rgba(255, 20, 145, 0.137), rgba(255, 20, 145, 0.753));
    height: 40px;
    width: 110%;
    border: 1px  ;
   margin-top: 40px;
}
.box7p{
    font-weight: bold;
    font-size: 30px;
}
      
     /* animation parts */
  
